html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body 
{background-color: rgb(0, 0, 0);
color: rgb(0, 128, 0);
margin: 0}

p{
    text-align: center;
    line-height: 24px;
}


h1 {
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 285px;
}

h2 {
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    text-align: center;
}
/*TOP BAR*/
div.top-bar{
    position: fixed;
    display: block;
    width: 100%;
    color: rgb(0, 0, 0);
    background:rgb(0, 128, 0);
    height: 80px;
    text-align: center;
    padding-top: 1px;
    border-radius: 1%;
    top: 0; 
    border-bottom: 5px solid black;

}
/*HEADER*/
header{
    text-align: center;
}

header.margin-top-xtra{
    margin-top: 70px;
    margin-bottom: 60px;
}
/*MENU NAVIGATION*/
div.menu-navigation-bar{
    position: fixed;
    display: block;
    text-align: left;
    height: 100%;
    background-color: rgb(0, 128, 0);
    top: 80px;
    border-radius: 0.1%;
    width: 275px;
}

nav{
    font-size: 40px;
    line-height: 60px;
}

ul{
    list-style: none;
}

ol{
    margin: auto;
    width: 268px;
    text-align: left;
}
a{
    text-decoration: none;
    color: #000000;
}

a:hover{
text-decoration: none;
color: #ffffff;
}

/*MAIN TEXT*/

.maindiv{
    background-color: #000000;
    margin-left: 280px;
}
#fake-div-above-history, #fake-div-above-musical-style, #fake-div-above-achievements, #fake-div-above-discography, #fake-div-above-members{
    height: 80px;
}

.padding-left-zero{
    padding-left: 0;
    color: #0cabb6;
}

a.green-text{
    text-decoration: solid;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }

    /*Track */
::-webkit-scrollbar-track {
    background-color: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #008000;
  } 

