html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    font-family: 'Yeon Sung', cursive;;
  }

body 
{background-color: rgb(0, 0, 0);
color: rgb(0, 128, 0);
margin: 0}

p{
    text-align: justify;
    line-height: 33px;
    font-size: 20px;
}


h1 {
    font-size: 35px;
    font-family: 'Shadows Into Light', cursive;
    margin-left: 285px;
    margin-top: 11px;
}

h2 {
    font-size: 32px;
    font-family: 'Shadows Into Light', cursive;;
}

h3{
    font-size: 27px;
}

main {
    text-align: center;
}
/*TOP BAR*/
div.top-bar{
    position: fixed;
    display: block;
    width: 100%;
    color: rgb(0, 0, 0);
    background:rgb(0, 128, 0);
    height: 80px;
    text-align: center;
    padding-top: 1px;
    border-radius: 1%;
    top: 0; 
    border-bottom: 5px solid black;

}
/*HEADER*/
header{
    text-align: center;
}

header.margin-top-xtra{
    margin-top: 70px;
    margin-bottom: 60px;
}
/*MENU NAVIGATION*/
div.menu-navigation-bar{
    position: fixed;
    display: block;
    text-align: left;
    height: 100%;
    background-color: rgb(0, 128, 0);
    top: 80px;
    border-radius: 0.1%;
    width: 275px;
}

nav{
    font-size: 35px;
    line-height: 73px;
}

ul{
    list-style: none;
}

ol{
    margin: auto;
    width: 268px;
    text-align: left;
}
a{
    text-decoration: none;
    color: #000000;
}

a:hover{
text-decoration: none;
color: #ffffff;
}

/*MAIN TEXT*/

.maindiv{
    background-color: #000000;
    margin-left: 316px;
    margin-right: 43px;
}
#fake-div-above-history, #fake-div-above-musical-style, #fake-div-above-achievements, #fake-div-above-discography, #fake-div-above-members{
    height: 80px;
}

.padding-left-zero{
    padding-left: 0;
    color: #0cabb6;
}

a.green-text{
    text-decoration: solid;
}

.centered{
    text-align: center;
}

footer{
    text-align: left;
}

.here-link{
    line-height: 3px;
    font-size: 20px;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background-color: #000000;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #008000;
  } 

/*ANIMATION for LEFT MENU*/

.animation1, .animation2, .animation3, .animation4, .animation5{
animation-name: leftslide;
animation-duration: 1s;
}

@keyframes leftslide{
    from{
        margin-left: -165px;
    }
    to{
        margin-left: 0px;
}
}
.animation1{
    animation-delay: 0.1s;
}
.animation2{
    animation-delay: 0.3s;
}

.animation3{
    animation-delay: 0.5s;
}

.animation4{
    animation-delay: 0.7s;
}
.animation5{
    animation-delay: 0.9s;
}